section {
    border:5px solid blue;
    padding: 2%;
}

figure {
    border: 5px solid red;
    float: left;
    position: relative;
    height: 30%;
    width: 65%;
}

figure figcaption {
    position: absolute;
    bottom: 0px;
    background-color:  rgba(255,255,255,0.9); 
    font-style: italic;
    width: 100%;
}

figure img {
    width: 100%;
}
.overview-cont {
    border: 1px solid black;
    border-radius: 3px;
    width: 30%;
    float: right;
    padding: 1%;
    margin-right: 1%;
}

.overview-cont h2 {
    margin-left: 2%;
    margin-bottom: 2%;
}

.overview-cont ul {
    margin-left: 12%;
}
/* Contain the floated elements (figure & overview-cont) */
section::after {
    content: "";
    display: block;
    clear: both;
}

/**** Utilities ****/
.citation:hover{
    color: blue;
}