@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;800&display=swap');

/******  Declaration block contains 
font-family declaration *****/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Poppins";
}

html, body {
    min-height: 100%;
    position: relative;
}

a, button {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/**** HEADER *****/
header {
    min-height: 40vh;
}

header > div {
    display: flex;
    justify-content: end;
    align-items: center;
    padding: 0% 3%;
    margin: 0 auto;
    height: 12%;
}

/**** NAV *****/
nav {
    padding: 1%;
}

nav ul li {
    display: inline-block;
    list-style-type: none;
    padding: 0 30px;
    font-size: 1rem;
}

/***** Class selector *****/
.logo-cont {
    margin-right: auto;
    height: 100%;
}

.logo a,
.logo {
    max-width: 200px;
    height: 100%;
}

.dropbtn {
    font-size: inherit;
    background: white;
    border: none;
    position: relative;
}

/***** Using Absolute position for dropdown items *****/
.dropdown-content {
    position: absolute;
    display: none;
    background-color:rgba(255,255,255,0.95);
    border-radius: 4px;
}

.dropdown-content a {
    display: block;
    padding: 13px 30px 1px 0;
}

/***** Hover psuedo class selector *****/
.dropdown-content a:hover {
    background-color: lightgray;
    transition: background-color 125ms ease-in;
}

.dropdown:hover .dropdown-content{
    display: block;
}

.drop-arrow {
    position: relative;
    bottom: 4px;
    margin-left: 20px;
}

.hero {
    background-image: url("../images/arizona-header.jpg");
    flex-direction: column;
    height: 35vh;
    background-size: cover;
    justify-content: center;
    align-items: center;
}

/****** ID selector ******/
#site-name {
    font-size: 3rem;
    color: white;
    text-shadow: 4px 4px 3px rgb(11, 11, 11);
    text-transform: uppercase;
}

.search-bar {
    background-image: url("../images/search-icon.png");
    background-repeat: no-repeat;
    background-position: left center;
    padding: 1% 0 1% 40px;
    background-color: rgba(255,255,255, 0.9);
    border: none;
    border-radius: 5px;
    min-width: 65vw;
    font-size: 1rem;
    line-height: 1.4rem;
}

main {
    margin: 3%;
    margin-bottom: 8vh;
}

.table-cont {
    margin: 5%;
}

.population-tbl {
    width: 100%;
}

.population-tbl caption {
    background-color: #c0e5c3;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 900;
}

.population-tbl th {
    font-weight: 700;
}
.population-tbl td {
    text-align: center
}

footer {
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 6vh;
    padding: 2%;
    width: 100%;
    background-color: #041f34;
    color: white;
}

footer a {
    color: white;
    text-align: center;
    display:block;
    height: 100%;
}

/**** Utilities *****/
.flex {
    display: flex;
}

.citation {
    font-style: italic;
    font-size: 0.8rem;
    padding: 1%;    
}

.citation-link {
    text-decoration: underline;
}

.citation-link:hover {
    color: #034a7d;
    font-weight: bold;
}

.space-btwn {
    justify-content: space-between;
}


@media all and (min-width: 1260px) {
    header {
        height: 20vh;
    }

    main {
        width: 50vw;
        margin: 3% auto;
        margin-bottom: 8vh;
    }

    .table-cont {
        width: 40vw;
        margin: 10% auto;
    }
}