* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}ß

.logo-div img {
    max-width: 60px;
}

header {
    display: flex;
}

.contact-btn {
    background-color: white;
    border: none;
}