section {
    width: 80%;
    margin: 0 auto;
}

section ol,
section ol li {
    margin-top: 2%;
    list-style-type: none;
}

.indent {
    display: inline-block;
    text-indent: 5%;
    width: 100%;
}